<html>
<body>
    <h3>Income Prediction Form</h3>
 
<div class="login">
  <form method="POST">
    <label for="business_code">business_code</label>
    <input type="text" id="business_code" name="business_code">
    <label for="cust_number">cust_number</label>
    <input type="text" id="cust_number" name="cust_number">
     <label for="name_customer">name_customer</label>
    <input type="text" id="name_customer" name="name_customer">
     <label for="clear_date">clear_date</label>
    <input type="text" id="clear_date" name="clear_date">
    <label for="buisness_year">buisness_year</label>
    <input type="text" id="buisness_year" name="buisness_year">
    <label for="doc_id">doc_id</label>
    <input type="text" id="doc_id" name="doc_id">
    <label for="posting_date">posting_date</label>
    <input type="text" id="posting_date" name="posting_date">
    <label for="due_in_date">due_in_date</label>
    <input type="text" id="due_in_date" name="due_in_date">
     <label for="baseline_create_date">baseline_create_date</label>
    <input type="text" id="baseline_create_date" name="baseline_create_date">
     <label for="cust_payment_terms">cust_payment_terms</label>
    <input type="text" id="cust_payment_terms" name="cust_payment_terms">
     <label for="converted_usd">converted_usd</label>
    <input type="text" id="converted_usd" name="converted_usd">

    <button type="submit" class="btn">Predict</button>
    
    
       
     
  </form>
</div>
{{ prediction_text }}
</body>
</html>